@font-face {
  font-family: "iconfont"; /* Project id 2639446 */
  src: url('/assets/07f38c53b634.woff2') format('woff2'),
       url('/assets/17510209f6ee.woff') format('woff'),
       url('/assets/4bb0719206aa.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihao1:before {
  content: "\e65d";
}

.icon-instagram2:before {
  content: "\e686";
}

.icon-facebook2:before {
  content: "\e732";
}

.icon-icomoonfacebook:before {
  content: "\eec0";
}

.icon-youxiang1:before {
  content: "\e63d";
}

.icon-jiantouarrow506:before {
  content: "\e6b5";
}

.icon-paixujiantouxia:before {
  content: "\e7ff";
}

.icon-tijiao1:before {
  content: "\e62f";
}

.icon-peixun:before {
  content: "\e67a";
}

.icon-cloud-certificate:before {
  content: "\e623";
}

.icon-sousuo:before {
  content: "\e62a";
}

.icon-jiantou:before {
  content: "\e619";
}

.icon-jia:before {
  content: "\e62c";
}

.icon-yuangong:before {
  content: "\e6d3";
}

.icon-jianhao:before {
  content: "\e62e";
}

.icon-chukou:before {
  content: "\e640";
}

.icon-Facebook:before {
  content: "\e633";
}

.icon-shigong:before {
  content: "\e641";
}

.icon-dianhua1:before {
  content: "\e654";
}

.icon-anquan:before {
  content: "\e642";
}

.icon-wenti:before {
  content: "\e646";
}

.icon-lingying:before {
  content: "\e7e6";
}

.icon-youjian:before {
  content: "\e647";
}

.icon-zhengshu:before {
  content: "\e648";
}

.icon-hangyejingyan:before {
  content: "\e6bf";
}

.icon-dizhi1:before {
  content: "\e649";
}

.icon-jishu:before {
  content: "\e601";
}

.icon-twitter:before {
  content: "\e64a";
}

.icon-zhunshijiaofu:before {
  content: "\e64c";
}

.icon-dianhua2:before {
  content: "\e64e";
}

.icon-youtube01:before {
  content: "\e652";
}

.icon-ins:before {
  content: "\e655";
}

.icon-sousuo1:before {
  content: "\e656";
}

.icon-dianhua11:before {
  content: "\e657";
}

.icon-youxiang11:before {
  content: "\e658";
}

.icon-gouwuche2:before {
  content: "\e659";
}

.icon-bofang:before {
  content: "\e715";
}

.icon-dizhi2:before {
  content: "\e65a";
}

.icon-phone2:before {
  content: "\e637";
}

.icon-dingwei:before {
  content: "\e608";
}

.icon-wangwang:before {
  content: "\e61d";
}

.icon-yan:before {
  content: "\e63f";
}

.icon-dianhua:before {
  content: "\e638";
}

.icon-whatsapp:before {
  content: "\e621";
}

.icon-gotop2:before {
  content: "\e614";
}

.icon-shubiao:before {
  content: "\e61e";
}

.icon-search:before {
  content: "\e635";
}

.icon-changyou:before {
  content: "\e673";
}

.icon-next:before {
  content: "\e639";
}

.icon-prev:before {
  content: "\e6f1";
}

.icon-gouwuche:before {
  content: "\e603";
}

.icon-gps:before {
  content: "\e63e";
}

.icon-gotop:before {
  content: "\e60f";
}

.icon-chuanzhen:before {
  content: "\e606";
}

.icon-whatsapp1:before {
  content: "\e751";
}

.icon-dizhi:before {
  content: "\e60d";
}

.icon-xinfeng:before {
  content: "\e6a4";
}

.icon-fax:before {
  content: "\e653";
}

.icon-cart:before {
  content: "\e600";
}

.icon-phone:before {
  content: "\e61c";
}

.icon-youtube:before {
  content: "\e6d7";
}

.icon-message:before {
  content: "\e826";
}

.icon-instagram:before {
  content: "\e607";
}

.icon-gouwuche1:before {
  content: "\e631";
}

.icon-facebook:before {
  content: "\e615";
}

.icon-weixin:before {
  content: "\e604";
}

.icon-qq:before {
  content: "\e62d";
}

.icon-point:before {
  content: "\e643";
}

.icon-star:before {
  content: "\e60a";
}

.icon-linkedin:before {
  content: "\e6f0";
}

.icon-rili:before {
  content: "\e63a";
}

.icon-skype:before {
  content: "\e616";
}

.icon-tuite:before {
  content: "\e60b";
}

.icon-google:before {
  content: "\e645";
}

.icon-fax1:before {
  content: "\e64f";
}

.icon-plus:before {
  content: "\e6d2";
}

.icon-xinfeng1:before {
  content: "\e72e";
}

.icon-search1:before {
  content: "\e660";
}

.icon-gotop1:before {
  content: "\e605";
}

.icon-news-r:before {
  content: "\e9b3";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-google1:before {
  content: "\e60c";
}

.icon-arrow-right:before {
  content: "\e72f";
}

.icon-news-l:before {
  content: "\e9b4";
}

.icon-arrow-left:before {
  content: "\e9b5";
}

.icon-erweima:before {
  content: "\e613";
}

.icon-youjiantou:before {
  content: "\e9b6";
}

.icon-youjiantou1:before {
  content: "\e610";
}

.icon-chahao:before {
  content: "\e61b";
}

.icon-zoujiantou1:before {
  content: "\e9b7";
}

.icon-homebig:before {
  content: "\e6c8";
}

.icon-fangdajing:before {
  content: "\e60e";
}

.icon-diqiu:before {
  content: "\e620";
}

.icon-arrow-top:before {
  content: "\e622";
}

.icon-duihuakuang:before {
  content: "\e66b";
}

.icon-pinterest:before {
  content: "\e6f4";
}

.icon-geren:before {
  content: "\e609";
}

.icon-shouji:before {
  content: "\e627";
}

.icon-duihao:before {
  content: "\e624";
}

.icon-google11:before {
  content: "\e61f";
}

.icon-youtube1:before {
  content: "\e618";
}

.icon-jianhao1:before {
  content: "\e628";
}

.icon-mui-icon-add:before {
  content: "\e629";
}

.icon-shopping-bag:before {
  content: "\e611";
}

.icon-lajitong1:before {
  content: "\e632";
}

.icon-facebook-messenger:before {
  content: "\e9de";
}

.icon-xunjia:before {
  content: "\e636";
}

.icon-arrLeft-fill:before {
  content: "\e62b";
}

.icon-tijiao:before {
  content: "\e6cf";
}

.icon-xiexian:before {
  content: "\e630";
}

.icon-instagram1:before {
  content: "\e617";
}

.icon-vk:before {
  content: "\e768";
}

.icon-messenger:before {
  content: "\e63c";
}

.icon-yamaxun:before {
  content: "\eb5d";
}

.icon-video:before {
  content: "\e650";
}

.icon-xiazai:before {
  content: "\e63b";
}

.icon-ai215-copy:before {
  content: "\eb5f";
}

.icon-video1:before {
  content: "\e644";
}

.icon-Ie:before {
  content: "\e699";
}

.icon-weibo:before {
  content: "\e669";
}

.icon-changjiantou-copy-copy:before {
  content: "\e64b";
}

.icon-jiantouyou:before {
  content: "\e625";
}

.icon-jiantouzuo:before {
  content: "\eb60";
}

.icon-facebook1:before {
  content: "\e6d9";
}

.icon-GroupCopy:before {
  content: "\e61a";
}

.icon-product:before {
  content: "\e7e9";
}

.icon-weibo1:before {
  content: "\e626";
}

.icon-kuaishou:before {
  content: "\e691";
}

.icon-aiqiyi:before {
  content: "\e674";
}

.icon-douyin:before {
  content: "\e612";
}

.icon-jinritoutiao:before {
  content: "\e697";
}

.icon-message1:before {
  content: "\e65f";
}

.icon-shijian:before {
  content: "\e675";
}

.icon-youxiang:before {
  content: "\e634";
}

.icon-fangda1:before {
  content: "\e666";
}

.icon-fangda2:before {
  content: "\e651";
}

.icon-Instagramlogo:before {
  content: "\e6b6";
}

.icon-skype2:before {
  content: "\e766";
}

.icon-Email:before {
  content: "\e65b";
}

.icon-weixin1:before {
  content: "\e66f";
}

.icon-qq2:before {
  content: "\e65c";
}

.icon-whatsapp2:before {
  content: "\e70a";
}

.icon-xiazai1:before {
  content: "\e64d";
}

